body {
    background-color: rgb(193, 205, 193);
}
h2 {
    position: absolute;
    right: 5%;
    top: 5%;
}

h1{
    text-align: center;
}

#win-loss{
   display: flex;
   flex-direction: row;
   gap: 80px;
   justify-content: center;
}

#word-box{
    font-size: 2em;
    text-align: center;
    margin: auto;
    border: solid 3px black;
    width: 50%;
    padding-top: 100px;
    padding-bottom: 100px;
}

#start-game {
    display: block;
    margin: 50px auto;
    width: 10%;
    height: 30px;
    background-color: rgb(92, 111, 92);
}